.artboard-detail {
    max-width: 1200px;
    margin: 50px auto;
    overflow: auto;

    outline: rgba(black, 0.5) solid 9999px;

    &-image-holder {
        float: left;
        width: 65%;
        text-align: center;
        background: #222;

        img {
            max-width: 100%;
            background: white;
            vertical-align: bottom;
        }
    }
}